<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="部件列表" value="1号冻管板Y,2号冻管板Y,3号冻管板Y,4号冻管板X,5号冻管板X,6号冻管板X,7号原液槽Y,8号加样槽Y,9号酶标板Y,10号夹爪Y,11号夹爪Y,12号夹爪X,13号夹爪X14号盖槽X,15号盖槽X,16号枪头架Y,17号枪头架Y,18号枪头架Y,19号枪头架Y,20号废枪盒Y,21号Z运动平面校准Y,22号Z运动平面校准X"/>
  </appSettings>
</configuration>